* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}
.mainContainer {
    margin: 70px 165px 39px;
}
.graySvg {
    position: absolute;
    right: 0;
    top: 22%;
}
.graSvgLeft {
    position: absolute;
    left: 0;
    top: 83%;
}
.desktopKeyBord {
    display: none;
}
.blabla {
    display: none;
}
.blabla2 {
    display: none;
}
.monileKeyBord {
    display: none;
}
.keyBordBlarMobile {
    display: none;
}
.deskMobile {
    display: none;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header p {
    padding: 16px 27px;
    font-size: 1em;
    line-height: 1.62em;
    color: #162542;
    background: #E8EFF2;
    border-radius: 12px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 83px 0 20px 0;
}
.description h1 {
    text-transform: uppercase;
    font-weight: 900;
    width: 330px;
    font-size: 56px;
    line-height: 56px;
    color: #162542;
}
.description p {
    margin: 34px 0 39px;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    width: 339px;
}
.description button {
    margin-right: 40px;
    padding: 16px 27px;
    border: none;
    background: #FF9B62;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    transition: all ease-out 0.3s;
}
.description button:hover {
    background: #F16718;
}
.description span {
    color: #7B8BAD;
    font-size: 16px;
    font-weight: 700;
}
.descriptionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imgContainer {
    display: flex;
    gap: 20px;
}
.texts {
    width: 255px;
}
.texts h2 {
    text-transform: uppercase;
    margin-bottom: 27px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #162542;
}
.texts p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}
.boxes {
    display: flex;
    justify-content: space-between;
}
.box {
    margin: 131px 0 128px;
    width: 240px;
}
.box h3 {
    margin: 48px 0 25px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #162542;
}
.box p {
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}
@media (max-width:1440px) {
    .graySvg {
        display: none;
    }
    .graSvgLeft {
        display: none;
    }
    .mainContainer {
        margin: 40px;
    }
    .description h1 {
        font-size: 48px;
    }
    .container {
        height: 500px;
    }
    .keyBord {
        display: none;
    }
    .desktopKeyBord {
        display: block;
        position: absolute;
        top: 23%;
        right: 0;
    }
    .descriptionContainer {
        display: block;
    }
    .keyBordBlar {
        width: 80%;
        height: 500px;
        display: none;
    }
    .desk {
        width: 100%;
        height: 500px;
        display: none;
    }
    .blabla {
        display: block;
        width: 50%;
        height: 400px;
    }
    .blabla2 {
        display: block;
        width: 60%;
        height: 400px;
    }
    .texts {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .texts h2 {
        margin-top: 50px;
        margin-right: 40px;
        width: 200px;
    }
    .texts p {
        width: 500px;
    }
    .boxes {
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {
    .mainContainer {
        margin: 27px 0px 27px 27px;
    }
    .allContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description h1 {
        font-size: 43px;
    }
    .desktopKeyBord {
        display: none;
    }
    .monileKeyBord {
        display: block;
        margin: 60px 0;
        border-top-left-radius: 20px;
    }
    .keyBordBlarMobile {
        margin-top: 250px;
        display: block;
    }
    .deskMobile {
        margin-top: 250px;
        display: block;
    }
    .container {
        display: block;
    }
    .blabla {
        display: none;
    }
    .blabla2 {
        display: none;
    }
    .texts {
        display: block;
        margin-top: 250px;
    }
    .texts h2 {
        margin:auto;
        text-align: center;
        width: 225px;
        line-height: 50px;
    }
    .texts p {
        margin-top: 20px;
        text-align: center;
        width: 324px;
    }
    .boxes {
        display: block;
        text-align: center;
    }
}